{% extends '../base.html' %}

{% block title %}Booking{% endblock %}
{% load static %}
{% block content %}

<style>
    span{
        content: "*\20B9";
    }
</style>
   
    <form class="form-group" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h3>Plan Name: Ooty fun trip</h3>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label for="username">Name :-</label>
                    <input class="form-control" id="username" placeholder="Name" type="text" maxlength="40" aria-describedby="user name"/>
                </div>

                <div class="col-4">
                    <h3>Description :2 days trip</h3>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label for="usermail">Mail :-</label>
                    <input class="form-control" id="usermail" placeholder="Mail" type="email" maxlength="40" aria-describedby="user mail"/>
                </div>

                <div class="col-4">
                    <h3>Ooty,Kothagiri,Conoor</h3>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label for="userphone">Phone :-</label>
                    <input class="form-control" id="userphone" placeholder="Phone" type="number" maxlength="20" aria-describedby="user phone"/>
                </div>

                <div class="col-4">
                    <h3>Price :<span>&#8377;</span>2500</h3>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <label>Pick Up Location :-</label>
                    <input class="form-control" id="pickup" placeholder="Pick Up" type="text" maxlength="40" aria-describedby="pick up Location"/>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                   
                </div>
                <div class="col-4">
                    <label>Drop Location :-</label>
                    <input class="form-control" id="drop" placeholder="Drop" type="text" maxlength="40" aria-describedby="drop Location"/>
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                </div>
                <div class="col-4">
                    <button id="Submit" type="submit" class="btn btn-primary">Submit</button>    
                </div>
                
            </div>
            

        </div>


    </form>


    {% endblock %}